/* RESET CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  color: #636363;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
}

/* ----- COMMOM  --------- */

h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #262626;
  margin-bottom: 20px;
  line-height: 1.1;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #262626;
}

h3 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #f55f8d;
  margin-bottom: 20px;
}

p {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* button */

.button-gardient {
  text-transform: uppercase;
  padding: 20px 35px;
  border-radius: 30px;
  font-size: 1.5rem;
  border: none;
  color: white;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
  background: linear-gradient(to right, #f55f8d, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  transition: all 0.5s;
}

.button-gardient:hover {
  background-position: right center;
}

/* -------START HEADER--------- */

header {
  position: absolute;
  width: 100%;
}

.container {
  max-width: 1199px;
  margin: auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav li {
  display: inline-block;
  padding: 55px 15px;
}

.header__nav li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #070120;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.5s linear 0.1s;
}

.header__nav li a i {
  font-size: 0.9rem;
  margin-top: -3px;
  vertical-align: middle;
}

.header__nav li:hover a {
  color: #f55f8d;
}

.header__nav li a span {
  display: inline-block;
}

.header__nav li:hover span {
  animation: upToDown 0.3s forwards;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

.header__nav li a:hover i {
  color: #f55f8d;
}

.header__nav div button {
  margin-left: 30px;
}

/* -------END HEADER--------- */

/* -------START CAROUSEL--------- */

.carousel {
  background-image: url(../img/pic2.png);
  background-size: 100%;
  padding-top: 180px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__content {
  padding: 50px 0;
}

.carousel__content p {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.carousel__content ul {
  margin-bottom: 30px;
}

.carousel__content ul li {
  font-size: 2rem;
  margin: 10px 5px 10px 0;
  list-style: none;
}

.carousel__content li i {
  font-size: 2.4rem;
  margin: 0 15px 10px 0;
  color: white;
  background: linear-gradient(to right, #f55f8d, #f8ae56);
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  border-radius: 50%;
}

.carousel__left {
  margin-right: -140px;
}

/* -------END CAROUSEL--------- */

/* -------START SERVICES--------- */

.services {
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding: 115px 0;
}

.services__detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.services__detail .services__item {
  background-color: white;
  border: 3px solid white;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  padding: 30px 45px;
  transition: all 0.5s;
}

.services__item:hover {
  border-image: url(../img/br.png) 1 round;
  transform: translateY(-20px);
}

.services__item h2 {
  margin: 15px 0;
}

.services__detail .services__item img {
  width: 215px;
}

/* -------END SERVICES--------- */

/* -------START ABOUT US--------- */

.aboutUs {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  padding-bottom: 90px;
}

.about__left {
  margin-left: -17%;
}

.about__left img {
  width: 90%;
  border-radius: 80px;
}

.about__content {
  width: 55%;
}

.about__content p {
  margin-bottom: 15px;
}

.about__content ul {
  margin-bottom: 30px;
}

.about__content li {
  list-style: none;
  font-size: 1.6rem;
  line-height: 1.8;
}

.about__content li i {
  font-size: 2.4rem;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

/* -------END ABOUT US--------- */

/* -------START NUMBER--------- */

.number {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: url(../img/bg14.png);
  background-size: 150%;
  background-position: center;
}

.number__item i {
  color: white;
  background: linear-gradient(to right, #f55f8d, #f8ae56);
  border-radius: 50%;
  font-size: 5rem;
  display: inline-block;
  height: 8rem;
  width: 8rem;
  line-height: 8rem;
  margin-bottom: 15px;
}

.number__item h1 {
  color: #f55f8d;
  margin-bottom: 0;
}

.number__item p {
  color: #262626;
  font-size: 1.8rem;
}

/* -------END NUMBER--------- */

/* -------START OUR FEATURES--------- */

.features {
  padding-top: 115px;
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
}

.features__right img {
  width: 120%;
  margin-top: -80px;
  margin-left: -40px;
  animation: move 5s infinite;
}

@keyframes move {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

.features__content h1 {
  padding-right: 20px;
}

.features__item {
  display: flex;
  align-items: center;
  width: 87%;
  background-color: white;
  border-radius: 15px;
  margin: 30px 0;
  padding: 10px 25px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  position: relative;
}

.features__item:hover {
  color: white;
}

.features__item::before {
  content: "";
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  opacity: 0;
  transition: all 1s;
}

.features__item:hover::before {
  opacity: 1;
}

.features__item i {
  font-size: 8rem;
  margin-right: 25px;
  color: #f55f8d;
  transition: all 1s;
  position: relative;
}

.features__item.margin__item {
  margin-left: +7%;
}

.features__item h2 {
  transition: all 1s;
  position: relative;
}

.features__item p {
  position: relative;
}

.features__item:hover i,
.features__item:hover h2 {
  color: white;
}

/* -------END OUR FEATURES--------- */

/* -------START PORTFOLIO --------- */

.portfolio {
  padding-top: 115px;
  text-align: center;
}

.portfolio_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__item img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.portfolio_grid .portfolio__item:nth-child(1) {
  grid-column: 1 / span 2;
}

.portfolio_grid .portfolio__item:nth-child(5) {
  grid-column: 1 / span 2;
}

.portfolio_grid .portfolio__item:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 2 / span 2;
}

.portfolio__item {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  transition: all 1s;
}

.portfolio__overlay i {
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  color: white;
  background: linear-gradient(to right, #f55f8d, #f8ae56);
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: all 1s;
}

.portfolio__overlay .portfolio__text h3 {
  color: white;
  margin-bottom: 0;
}

.portfolio__overlay .portfolio__text p {
  color: rgba(255, 255, 255, 0.765);
}

.portfolio__overlay .portfolio__text {
  text-align: left;
  position: absolute;
  left: 30px;
  bottom: -60px;
  transition: all 1s;
}

.portfolio__overlay:hover {
  opacity: 1;
}

.portfolio__overlay:hover i {
  transform: translate(-2rem, 2rem);
  opacity: 1;
}

.portfolio__overlay:hover .portfolio__text {
  transform: translateY(-9rem);
}

.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  top: 0;
  left: -100%;
  transition: all 0.7s linear;
  transform: skewX(-25deg);
}

.portfolio__item:hover::before {
  left: 125%;
}

.fancybox__caption {
  font-size: 1.6rem;
  text-align: center;
}

/* -------END PORTFOLIO --------- */

/* -------START BLOG --------- */

.blog {
  padding: 115px 0 70px 0;
  background-image: url(../img/bg16.png);
  background-position: top center;
}

.blog__title {
  text-align: center;
}

.owl-carousel .blog__item {
  background: rgba(245, 95, 141, 0.1);
  border-radius: 5px;
}

.blog__item img {
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.blog__item .blog__content {
  padding: 30px 20px 15px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog__header {
  position: relative;
}

.blog__item .blog__header .blog__date {
  background: linear-gradient(to right, #f55f8d, #f8ae56);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.4rem;
  position: absolute;
  left: 15px;
  bottom: -22px;
}

.blog__item .blog__footer {
  display: flex;
  padding: 10px 15px;
  border-top: 1px solid rgba(99, 99, 99, 0.1);
  text-transform: uppercase;
}

.blog__footer {
  font-size: 1.4rem;
}

.blog__footer i {
  font-size: 2.2rem;
  color: #f55f8d;
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

.blog__footer p:first-of-type span {
  color: #f55f8d;
}

/* -------END BLOG --------- */

/* -------START FOOTER --------- */

/* FOOTER TOP */

footer {
  background: url(../img/bg4.png);
  background-color: #0e1b1f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: auto;
  display: block;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__subscribe {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-radius: 10px;
  background-image: url(../img/pattern3.png);
  background-color: white;
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.footer__subscribe .subs_text h2 {
  font-size: 2.8rem;
  position: relative;
}

.footer__subscribe .subs__email {
  width: 50%;
  position: relative;
}

.subs__email form input {
  padding: 25px 20px;
  color: #888;
  font-size: 1.5rem;
  border-radius: 10px;
  width: 100%;
  border: 1.5px solid white;
  transition: all 0.5s;
}

.subs__email form input:hover,
.subs__email input:focus {
  border: 1.5px solid #f55f8d;
  outline: none;
}

.subs__email form button.button-gardient {
  font-size: 2.5rem;
  border-radius: 0 1rem 1rem 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 1s;
}

.subs__email form button.button-gardient:hover i {
  animation: move2 1s forwards;
}

@keyframes move2 {
  49% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}

/* FOOTER BODY */

.footer_body {
  padding: 50px 0;
  display: flex;
  position: relative;
}

.footer_body .footer__item {
  width: 25%;
}

.footer_body .light__item {
  color: white;
  font-size: 1.5rem;
  line-height: 1.6;
}

.footer__contact li {
  display: flex;
  padding: 10px 0;
  /* align-items: center; */
}

.footer__contact i {
  background: linear-gradient(to right, #f55f8d, #f8ae56 51%, #f55f8d);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.footer__item h2 {
  color: white;
  position: relative;
  padding-bottom: 1rem;
}

.footer__item h2::before {
  width: 15px;
}

.footer__item h2::before,
.footer__item h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d, #f8ae56 51%, #f55f8d);
  background-size: 200%;
}

.footer__item h2::after {
  width: 45px;
  left: 20px;
}

.footer__item ul.padding {
  padding-top: 30px;
}

.footer__item ul li {
  padding: 8px 0;
  font-size: 1.6rem;
}

.footer__item ul li a {
  color: #636363;
  text-transform: capitalize;
  display: block;
  transition: all 1s;
}

.footer__item ul li a i {
  margin-right: 5px;
}

.footer__item ul li:hover a {
  color: white;
}

/* footer__copyright */

.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  color: white;
}

.copyright__text span {
  color: #f55f8d;
}

.copyright__icon a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

.copyright__icon a:hover {
  background-color: #f55f8d;
}

/* -----BACK TO TOP----- */

.cd-top {
  width: 45px;
  height: 45px;
  line-height: 45px;
  position: fixed;
  right: 10px;
  bottom: 70px;
  background-color: #f55f8d;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  visibility: hidden;
  opacity: 0;
}

/* back-to-top button visible */
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
